.carousel-demo{
    margin-top: 20px;
    display: inline-block;
    text-align: center;
}


.center {
    text-align: center;
}
.bgimage {
    text-align:right;
    color:white;
    background-size:cover;
    height: 100%;
    background-position: center center;
}

ul[rn-carousel] {
    width:100%;
    height:100%;
    margin: 0 auto;
}

.carousel5 li {
    width:100%;
    height:100%;
    font-size:30px;
    background-color: #ccc;
}

.carousel-demo {
    margin-top:20px;
    display:inline-block;
    text-align: center;
}
.carousel-demo-fullscreen {
    width:100%;
    height:100%;
}
.carousel-demo-fullscreen ul[rn-carousel] {
    width:100%;
    height:100%;
}

input.tiny {
    width:50px;
    text-align:center;
}


.carousel-demo ul[rn-carousel-transition="hexagon"] {
    margin-left:100px;
}

.custom-indicator span {
    transition: all 0.3s ease-in;
}
.custom-indicator span.active {
    color:yellow !important;
}


.my-background{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,f7efff+100 */
    background: #eeeeee; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #eeeeee 0%, #f7efff 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #eeeeee 0%,#f7efff 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #eeeeee 0%,#f7efff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#f7efff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.slider-description{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    text-align: center;
	
}

.my-header{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#9760e5+0,4f3965+100 */
    background: #9760e5; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  #9760e5 0%, #4f3965 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover,  #9760e5 0%,#4f3965 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center,  #9760e5 0%,#4f3965 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9760e5', endColorstr='#4f3965',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	box-shadow: 0 10px 5px rgba(0,0,0,0.25), 0 0 50px rgba(0,0,0,0.1) inset;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
}


.my-header-nav{
    /*padding-top: 6px;*/
    padding-left:10px;
    padding-right:10px;
}

.slider-btn{
    width: 70%;
    border-radius:1px;
background: #764199 !important;
    font-size: 13pt;
}

/*Blurred background filter*/
.blur-filter {
    background:black;
}

.popup-info {
	
	background: transparent;
	margin-top:50%;
	
	
	
	
	
   
}
